.bg-button{
    background-color: white !important;
    color: #ff9f00 !important;
}

.cardo{
    width: 100% !important;
    height: 100% !important;
}

.sty{
    color: #ff9f00 !important;
    font-weight: 600 !important;
}